f<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="quiz.css" />
    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    
    <script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="js/quiz-1.0.js"></script>
	
    <!--fix IE-->

        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->

        <!--[if lt IE 9]>
            <script src="js/IE9.js"></script>
        <![endif]-->
        
    <title>{{entity.name}}</title>
</head>
<body>
<header id="header">
	<div class="ribbon">{{entity.name}}</div>
</header>
    <div id="wrapper-content">
    	<div id="wrapper-number">
            {% set cpt = 1 %}
            {% for subject in subjects %}
                <div class="number-off" id="number{{cpt}}">
                    <div class="puce">{{cpt}}</div>
                    <div class="link"></div>
                </div>
            {% set cpt = cpt+1 %}
            {% endfor %}
            <div class="clear"></div>  
        </div>
        <!-- wrapper questions -->
        <div class="wrapper-panel">
        	<div class="message-reponse">
            </div>
        	<!-- Navigation -->
        	<div class="arrow-right"><a href="#"></a></div>
           	<div class="arrow-left"><a href="#"></a></div>
            
            <div class="wrapper-panel-zoom">
            	<div class="wrapper-current">
                	<div class="question-current">
                    	Question <span class="number-question"></span> 
                    	<span class="score">score </span>
                    </div>
                </div>
            	<!-- Panneaux -->
                {% set cpt = 1 %}
                {% for subject in subjects %}
                <div class="panel question{{cpt}}">
                   <div class="intitule-question">
                        {{subject.name}}
                   </div>
                   <div style="width:100%;text-align:center;margin:auto;margin-top:1em;margin-bottom:1em;">
                        {% if subject.path!='' %}
                            <img src="images/upload/{{subject.path}}" />
                        {% endif %}
                   </div>
                   <div class="reponses">
                        <ul>
                            {% for item in subject.quizz %}
                            {# list items:quizz.find("bySubject.id", subject.id).fetch(), as:'item' #}
                                <li><a href="#valider" class="{{item.correct?"t":"f"}}">{{item.name}}</a></li>
                            {% endfor %}
                            <div class="clear"></div>
                        </ul>
                   </div>
                   <!-- Explication 2 -->
                   <div class="explication">
                        {{subject.description}}
                        <div>
                            {% if subject.path!='' %}
                                <img src="images/upload/{{subject.path_explication}}" />
                            {% endif %}
                        </div>
                   </div>
                   <!-- Validation 2 -->
                   <div class="bouton-validation">
                    <a id="valider" href="#">valider</a>
                   </div>
                   <!-- Message final -->
                   <div class="final">
                   </div>
                </div>
                {% set cpt = cpt+1 %}
                {% endfor %}
            </div>
        </div>
    	<!-- Fin wrapper questions -->
    </div>
</body>
</html>