{% extends 'AppydoQuizBundle::layout.html.twig' %}

{% block title %}
    Création d'un quiz
{% endblock %}

{% block scripts %}
  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="{{ asset('bundles/appydoquiz/css/jslider/jslider.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ asset('bundles/appydoquiz/css/jslider/jslider.blue.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ asset('bundles/appydoquiz/css/jslider/jslider.plastic.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ asset('bundles/appydoquiz/css/jslider/jslider.round.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ asset('bundles/appydoquiz/css/jslider/jslider.round.plastic.css') }}" type="text/css">
  <!--[if IE 6]>
  <link rel="stylesheet" href="{{ asset('bundles/appydoquiz/css/jslider/jslider.ie6.css') }}" type="text/css" media="screen">
  <link rel="stylesheet" href="{{ asset('bundles/appydoquiz/css/jslider/jslider.blue.ie6.css') }}" type="text/css" media="screen">
  <link rel="stylesheet" href="css/jslider/jslider.plastic.ie6.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/jslider/jslider.round.ie6.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/jslider/jslider.round.plastic.ie6.css" type="text/css" media="screen">
  <![endif]-->

  <script type="text/javascript" src="js/jslider/jquery-1.4.2.js"></script>
  <script type="text/javascript" src="js/jslider/jquery.dependClass.js"></script>
  <script type="text/javascript" src="js/jslider/jquery.slider-min.js"></script>
  <!-- end CSS-->
{% endblock %}

{% block content %}
<div id="top-content">
    <span class="rubrique">Création d’un nouveau quiz - étapes 1, 2</span>
</div>
<!-- Quiz Content -->
<div id="list-content">
<!-- Etape 1 quiz -->
<section class="etape">

<form action="{{ path('manager_create') }}" method="post" {{ form_enctype(form) }}>

        <section class="etape theme">
          <div class="titre-etape"><div class="puce-etape">1</div> Sélectionnez un modèle</div>
              <div class="wrapper-theme">
                <div class="theme-quiz">
                  <input type="radio" name="theme" value="standard">
                  <span>Thème standard</span>
                </div>
                <div class="theme-quiz">
                  <span>Theme essonne</span>
                  <input type="radio" name="theme" value="essonne">
                </div>
              </div>
          </section>

    <div class="titre-etape"><div class="puce-etape">2</div> Informations sur le quiz</div>

    

        <label for="title">Nom du quiz</label>
        {{ form_widget(form.name) }}

        <label for="description">Description du quiz</label>
        {{ form_widget(form.description) }}

        <button type="submit" class="next-step">étape suivante</button>

        {{ form_widget(form._token) }}

    </form>

</section>
</div>
</div>
{% endblock %}