{% extends '::'~theme~'/base.html.twig' %}

{% block title "Appydo" %}

{% block menu %}
    {% for menu in menus %}
        <p><a href="{{ menu.name }}">{{ menu.name }}</a></p>
    {% endfor%}
{% endblock %}

{% block description %}
    {% if project.description is defined %}
        {{ project.description }}
    {% endif %}
{% endblock %}

{% block presentation %}
    {% if project.description is defined %}
        {{ project.description|raw|nl2br }}
    {% endif %}
{% endblock %}

{% block information %}
    {% if project.information is defined %}
        {{ project.information|raw|nl2br }}
    {% endif %}
{% endblock %}

{% block keywords %}
    {% if project.keywords is defined %}
        {{ project.keywords }}
    {% endif %}
{% endblock %}

{% block author %}
    {% if project.author is defined %}
        {{ project.author }}
    {% endif %}
{% endblock %}

{% block project %}
{% if project.name is defined %}
    <a class="brand" href="{{ path('_appydo_project',{'name':project.name}) }}">{{ project.name }}</a>
{% endif %}
{% endblock %}

{% block content %}
{#
    <div class="page-header">
        <h1>aaa{{ (project)?project.name:'Error' }}</h1>
    </div>
#}
    {% if project==null %}
        Unable to find project.
    {% endif %}

    {% for topic in topics %}
        <h2><a href="{{ path('_appydo_topic',{'name':project.name,'id':topic.id,'topic':topic.name}) }}">aaa{{ topic.name }}</a></h2>
        <p>{{ topic.content|raw }}</p>
        {% if app.user.id is defined and app.user.current==project %}
        <p><a href="{{ path('topic_edit', {'id':topic.id}) }}">Edit</a></p>
        {% endif %}
    {% endfor %}

{% endblock %}
