{% extends 'AppydoTestBundle::admin.html.twig' %}

{% block title "User list" %}

{% block content %}
<div class="page-header">
    <h1>User list</h1>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Isactive</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('user_edit', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.isActive }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="form-actions">
    <a class="btn btn-primary" href="{{ path('user_new') }}">
        <i class="icon-plus icon-white"></i>
        New
    </a>
    <a class="btn" href="{{ path('_appydo') }}">
        Home
    </a>
</div>
{% endblock %}