{% extends 'AppydoQuizBundle::layout.html.twig' %}

{% block title %}
    Gestionnaire de quiz
{% endblock %}

{% block content %}

<form action="{{ path('subject_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

    <!-- Top Content -->
    <div id="top-content">
        <span class="rubrique">Editer une question</span>
    </div>

    <div id="list-content">

    <label>Question :</label> {{ form_widget(edit_form.name) }}
    <label>Réponse :</label> {{ form_widget(edit_form.description) }}
    <label>Cacher : {{ form_widget(edit_form.hide) }}</label>
    {{ form_widget(edit_form._token) }}

    <p>
        <button class="next-step" type="submit">Edit</button>
        <a class="next-step back" href="{{ path('subject') }}">
            Retour
        </a>
    </p>
    </div>
</form>

{% endblock %}