{% extends 'AppydoQuizBundle::layout.html.twig' %}

{% block content %}
<!-- Top Content -->
        <div id="top-content">
          <span class="rubrique">{{entity.name}}</span>
          <div class="edit-quiz"><a href="{{path('subject_edit', {'id':entity.id})}}"></a></div>
        </div>
        <!-- Quiz Content -->
        <div id="list-content">
          <!-- Desc quiz -->
          
          <div class="desc-zoom-quiz">

            <div style="height:120px;position:static;">
                <img src="{{asset(entity.getWebPath())}}" style="max-width:100px;max-height:100px;position:static;" />
            </div>

{#    
            <div class="info-theme-quiz">
              <div class="theme-quiz">
              </div>
              <div class="title-theme-quiz">
                  <p>Thème bulle</p>
                  <p>12 questions max</p>
                  <p><div class="edit-quiz"><a href="#"></a></div></p>
              </div>
            </div>
          </div>
#}
          {% for quiz in quizs %}
          <div class="item-zoom">
            <div class="meta-quiz">
              <span class="title-question"><div class="numero-question">Réponse {{ loop.index }}</div> {{quiz.name}}</span>
            </div>
            
            <div class="tools-quiz">
              <div class="suppr-quiz"><a href="{{path('quiz_delete', {'id':quiz.id})}}"></a></div>
              <div class="edit-quiz"><a href="{{path('quiz_edit', {'id':quiz.id})}}"></a></div>
            </div>
          </div>
          {% endfor %}
          {% if cpt_quiz<4 %}
          <a href="{{ path('quiz_new',{'subject':entity.id}) }}" class="add-quiz">ajouter une réponse</a>
          {% endif %}
            <p>
            <span class="bold">Explication :</span> {{entity.description}}
            </p>
            <div style="height:120px;position:static;">
                <img src="{{asset(entity.getWebPathExplication())}}" style="max-width:100px;max-height:100px;position:static;" />
            </div>
        </div>
      </div>
{% endblock %}