{% extends 'AppydoTestBundle::admin.html.twig' %}

{% block title "Appydo Administration - Select project" %}

{% block content %}

    <div class="form-actions">
        <a class="btn btn-primary" href="{{ path('project_new') }}">
            <i class="icon-plus icon-white"></i>
            New project
        </a>
        <a class="btn" href="{{ path('_appydo_admin') }}">
            Back
        </a>
    </div>
    <form action="{{ path('project') }}" method="post">
    {% for item in projects %}
    <div class="well">
        <h2>{{item.name}}</h2>
        <h3>Description</h3>
        <p>{{item.description}}</p>
        <p>Hits : {{item.hits}}</p>
        <p>
            <button
                class="btn btn-primary{% if app.user.current.id is defined and app.user.current.id==item.id %} disabled{% endif %}"
                type="submit"
                name="select"
                value="{{item.id}}">
                    Select
            </button>
            <a class="btn" href="{{ path('_appydo_project', {'name':item.name}) }}">Preview</a>
        </p>
    </div>
    {% endfor %}
    </form>

{% endblock %}