{% extends 'AppydoTestBundle::admin.html.twig' %}

{% block title "Menu new" %}

{% form_theme form 'AppydoTestBundle:Form:bootstrap.html.twig' %}

{% block content %}
<h1>MenuIntern edit</h1>

<form action="{{ path('menuintern_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('menuintern') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('menuintern_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}